$euiButtonHeight: $euiSizeXXL;
$euiButtonHeightSmall: $euiSizeXL;

$euiButtonColorDisabled: tintOrShade($euiTextColor, 70%, 70%);
// Only increase the contrast of background color to text to 2.0 for disabled
$euiButtonColorDisabledText: makeHighContrastColor($euiButtonColorDisabled, $euiPageBackgroundColor, 2);
$euiButtonColorGhostDisabled: lightOrDarkTheme($euiColorDarkShade, $euiColorLightShade);
$euiButtonToggleBorderColor: $euiColorLightShade;

// Modifier naming and colors.
$euiButtonTypes: (
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost, // Ghost is special, and does not care about theming.
  text: $euiColorDarkShade, // Reserved for special use cases
);
