// Sizing
$euiFormMaxWidth: $euiSizeXXL * 10;
$euiFormControlHeight: $euiSizeXXL;
$euiFormControlCompressedHeight: $euiSizeXL;
$euiFormControlPadding: $euiSizeM;
$euiFormControlCompressedPadding: $euiSizeS;
$euiFormControlCompressedBorderRadius: $euiBorderRadius / 2;

$euiRadioSize: $euiSize;
$euiCheckBoxSize: $euiSize;

// Switch
$euiSwitchHeight: $euiSize * 1.25;
$euiSwitchWidth: ($euiSize * 2.5) + $euiSizeXS;
$euiSwitchThumbSize: $euiSwitchHeight;
$euiSwitchIconHeight: $euiSize;

$euiSwitchHeightCompressed: $euiSize;
$euiSwitchWidthCompressed: $euiSize * 1.75;
$euiSwitchThumbSizeCompressed: $euiSwitchHeightCompressed;

$euiSwitchHeightMini: $euiSwitchHeight * .5;
$euiSwitchWidthMini: $euiSwitchWidth * .5;
$euiSwitchThumbSizeMini: $euiSwitchHeightMini;

// Coloring
$euiFormBackgroundColor: tintOrShade($euiColorLightestShade, 60%, 40%);
$euiFormBackgroundDisabledColor: darken($euiColorLightestShade, 2%);
$euiFormBackgroundReadOnlyColor: transparentize(lightOrDarkTheme($euiColorLightShade, $euiColorInk), .95);
$euiFormBorderOpaqueColor: shadeOrTint(desaturate(adjust-hue($euiColorPrimary, 22), 22.95), 26%, 100%);
$euiFormBorderColor: transparentize($euiFormBorderOpaqueColor, .9);
$euiFormBorderDisabledColor: transparentize($euiFormBorderOpaqueColor, .9);
$euiFormCustomControlDisabledIconColor: shadeOrTint($euiColorMediumShade, 38%, 48.5%); // exact 508c foreground for $euiColorLightShade
$euiFormCustomControlBorderColor: shadeOrTint($euiColorLightestShade, 18%, 30%);
$euiFormControlDisabledColor: $euiColorMediumShade;
$euiFormControlBoxShadow: 0 1px 1px -1px transparentize($euiShadowColor, .8), 0 3px 2px -2px transparentize($euiShadowColor, .8);
$euiFormInputGroupLabelBackground: tintOrShade($euiColorLightShade, 50%, 40%);
$euiFormInputGroupBorder: 1px solid shadeOrTint($euiFormInputGroupLabelBackground, 2%, 4%);
$euiSwitchOffColor: lightOrDarkTheme(transparentize($euiColorMediumShade, .8), transparentize($euiColorMediumShade, .3));

// Control Layout
$euiFormControlLayoutGroupInputHeight: $euiFormControlHeight - 2px;
$euiFormControlLayoutGroupInputCompressedHeight: $euiFormControlCompressedHeight - 2px;
$euiFormControlLayoutGroupInputCompressedBorderRadius: $euiFormControlCompressedBorderRadius / 2;

// Range
$euiRangeTrackColor: $euiColorDarkShade;

$euiRangeThumbRadius: 50%;
$euiRangeThumbHeight: $euiSize;
$euiRangeThumbWidth: $euiSize;
$euiRangeThumbBorderColor: $euiRangeTrackColor;

$euiRangeTrackWidth: 100%;
$euiRangeTrackHeight: 2px;
$euiRangeTrackBorderWidth: 0;
$euiRangeTrackBorderColor: $euiRangeTrackColor;
$euiRangeTrackRadius: $euiBorderRadius;

$euiRangeDisabledOpacity: .25;

$euiRangeHighlightHeight: $euiSizeXS;

