// Colors
$euiFocusRingColor: rgba($euiColorPrimary, .3);
$euiFocusRingAnimStartColor: rgba($euiColorPrimary, 0);

// Sizing
$euiFocusRingSizeLarge: $euiSizeXS;
$euiFocusRingSize: $euiFocusRingSizeLarge * .75;
